[Unit]
Description=Home Assistant Linux Companion
Documentation=https://github.com/muniter/halinuxcompanion
After=networking.target

[Service]
WorkingDirectory=~/.config/halinuxcompanion
ExecStart=~/.config/halinuxcompanion/.venv/bin/python -m halinuxcompanion -c config.json
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
